<div ng-include="'views/layouts/header.html'"></div>

<div>
    <titleelement></titleelement>
</div>

<div>
  <table border="1" style="border:1px solid #cccccc;border-collapse:collapse">
      <tr>
	      <td>First Name</td>		  
	      <td>{{user.first_name}}</td>		  
	  </tr>
	  <tr>
	      <td>Second Name</td>		  
	      <td>{{user.last_name}}</td>		  
	  </tr>
	  <tr>
	      <td>Email</td>		   
	      <td>{{user.email}}</td>		  
	  </tr>
	  <tr>
	      <td>Users</td>		  
	      <td>{{user.username}}</td>		  
	  </tr>
	  <tr>
	      <td>Address</td>		  
	      <td>{{user.address}}</td>		  
	  </tr>
	  <tr>
	      <td>City</td>		  
	      <td>{{user.city}}</td>		  
	  </tr>
	  <tr>
	      <td>State</td>		  
	      <td>{{user.state}}</td>		  
	  </tr>
	  <tr>
	      <td>Zipcode</td>		  
	      <td>{{user.zipcode}}</td>		  
	  </tr>
  </table>
</div>

<div ng-include="'views/layouts/footer.html'"></div>