<style type="text/css">
ul{
  list-style:none
}
ul li {
  float:left
}
</style>

<div class="container">
        <div class="logo">
			<a href="/">
				<img src="img/logo.png" alt="Unlocking Smart">
			</a>
        </div>
        <nav>
           <div class="responsive_nav">                                        
			  <ul class="menu">
				<li class="active">
				   <a href="#/home" class="btn btn-link">Home</a>
				</li>
				<li class=" unlock-link">
					<a href="#/" class="btn btn-link">User</a>
				</li>
				<li class="">
					 <a href="#/contactus" class="btn btn-link">Contact us</a>
				</li>
				<li class="">
				   <a href="/about_us" class="btn btn-link">About</a>
				</li>
				<li ng-class="">
				   <a href="javascript:void(0)" class="btn btn-link" ng-click="logout()">Logout</a>
				</li>
			  </ul>
           </div>
	    </nav>
</div>
<div timeelement ></div>